<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.simple.PlayLogMapper" >
  <resultMap id="BaseResultMap" type="entity.po.PlayLog" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pdate" property="pdate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="video_id" property="videoId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, pdate, user_id, video_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from play_log
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from play_log
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.po.PlayLog" >
    insert into play_log (pid, pdate, user_id, 
      video_id)
    values (#{pid,jdbcType=INTEGER}, #{pdate,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{videoId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.po.PlayLog" >
    insert into play_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="pdate != null" >
        pdate,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pdate != null" >
        #{pdate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.po.PlayLog" >
    update play_log
    <set >
      <if test="pdate != null" >
        pdate = #{pdate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.po.PlayLog" >
    update play_log
    set pdate = #{pdate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      video_id = #{videoId,jdbcType=INTEGER}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>