<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.custom.CommentCustomMapper" >
    <resultMap id="CommentBO" type="commentBO">
        <id column="cid" property="cid" jdbcType="INTEGER" />
        <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
        <result column="ctext" property="ctext" jdbcType="VARCHAR" />
        <result column="cagree" property="cagree" jdbcType="INTEGER" />
        <result column="creply" property="creply" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="video_id" property="videoId" jdbcType="INTEGER" />
        <association property="userBO" javaType="userBO">
            <id column="uid" property="uid" jdbcType="VARCHAR" />
            <result column="uname" property="uname" jdbcType="VARCHAR" />
            <result column="usex" property="usex" jdbcType="CHAR" />
            <result column="uimg" property="uimg" jdbcType="VARCHAR" />
            <result column="usign" property="usign" jdbcType="VARCHAR" />
            <result column="ufollow" property="ufollow" jdbcType="INTEGER" />
            <result column="ufan" property="ufan" jdbcType="INTEGER" />
        </association>
    </resultMap>

    <!-- 评论分页查询语句 -->
    <select id="getCommentsByPage" parameterType="map" resultMap="CommentBO">
        SELECT
        c.*,
        u.uid,
        u.uname,
        u.usex,
        u.uimg,
        u.usign,
        u.ufollow,
        u.ufan
        FROM comment c left join user u
                        ON c.user_id = u.uid
        <where>
            c.video_id = #{vid}
        </where>
        order by c.cid desc
        LIMIT #{offset},#{pageSize}
    </select>

    <!-- 查询单个评论(BO)语句 -->
    <select id="getCommentByPrimary" parameterType="int" resultMap="CommentBO">
        SELECT
        c.*,
        u.uid,
        u.uname,
        u.usex,
        u.uimg,
        u.usign,
        u.ufollow,
        u.ufan
        FROM comment c left join user u
        ON c.user_id = u.uid
        <where>
            c.cid = #{cid}
        </where>
    </select>

    <!-- 取得记录的总数 -->
    <select id="getCommentsCount" parameterType="int" resultType="java.lang.Integer">
        SELECT COUNT(c.cid) FROM comment c WHERE c.video_id = #{vid}
    </select>

    <!-- 插入数据并返回主键存在输入的对象中 -->
    <insert id="insert" parameterType="entity.po.Comment" >
        <selectKey keyProperty='cid' resultType='int' order='AFTER'  >
            select LAST_INSERT_ID();
        </selectKey>
        insert into comment (cdate, ctext,
        cagree, creply, user_id,
        video_id)
        values (#{cdate,jdbcType=TIMESTAMP}, #{ctext,jdbcType=VARCHAR},
        #{cagree,jdbcType=INTEGER}, #{creply,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
        #{videoId,jdbcType=INTEGER})
    </insert>

</mapper>